<h1>Thanks for your RSVP</h1>

<h3>See you on <b>December 17th, 2016</b>!</h3>

<h3 class="primary-color">N <i class="fa fa-heart"> </i> C</h3>

<a href="http://www.nicoleandchandler.com/" class="pure-button pure-button-primary">Back to Website</a>