<h3>We'll miss you. Thanks for your RSVP.</h3>

<h3 class="primary-color">N <i class="fa fa-heart"> </i> C</h3>

<a href="http://www.nicoleandchandler.com/" class="pure-button pure-button-primary">Back to Website</a>